HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
**/src/main/**/target/
**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
mvnw
mvnw.cmd
.mvn/wrapper/maven-wrapper.properties
### 테스트 폴더 제외 ###
src/test/
### 웹에 배포하려면 DB 정보는 git에 올라가면 안되서 제외 ###
src/main/resources/application-db.properties
